
/* Se importa fuente de google font = Righteouse - Work Sans */

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colores principales */
    --color-primary: #1e2326; /* Azul oscuro */
    --color-primary-two: #252A2E; /* Azul oscuro */
    --color-secondar: #278a8a;/* Verde */
    --color-tertiary: #ffffff;  /* Blanco */
}

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    /* Me permite deslizar de una manera suave en todos los link internos de mi html*/
    scroll-behavior: smooth;
}

/* MENU */
.contenedor-header{
    background-color: var(--color-primary);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;    
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color:var(--color-secondar);
    text-decoration: none;
    cursor:none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;    
}
.menu a{
  color: aliceblue; 
  text-decoration: none;
  margin: 0px 15px;
  padding: 3px;
  transition: 0.5s ease;
  color:var(--color-tertiary);
}
.menu a:hover{
    color: var(--color-secondar);
}
.nav-responsive{
    background-color: var(--color-secondar);
    color: var(--color-tertiary);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION I N I C I O */
.inicio{
   background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),url(./assets/background.jpg);
   background-size: cover;
   height: 100vh;
   color: var(--color-tertiary);
   display: flex;
   align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: var(--color-primary);
    max-width: 350px;
    margin: auto;
    text-align:center;
    border-radius: 40px;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid var(--color-secondar);
    display: block;
    width: 80%;
    margin: auto;    
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';    
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes{
    display: flex;
    gap:10px;
    justify-content: center;
}
.inicio .contenido-banner .redes a{
    color: var(--color-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-tertiary);
    border-radius: 100%;
    width: 42px;
    height: 42px;      
    text-decoration: none;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;   
    }

.inicio .contenido-banner .redes a:hover{
    background-color: var(--color-secondar);
    transition: .6s;
}
.sobremi{
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.sobremi .contenido-seccion p{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: var(--color-secondar);
    font-weight: bold;   
}
.sobremi .fila{
    display: flex;

}
.sobremi .fila .col{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family:'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0px;
}
.sobremi .fila li strong{
  display: inline-block;  
  color: var(--color-secondar);
  width: 130px;  
}
.sobremi .fila li span{
    background-color: var(--color-secondar);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .interes{
    width: 110px;
    height: 110px;
    background-color: var(--color-primary-two);
    border-radius: 10px;
    margin: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s
}
.sobremi .fila .col .interes:hover{
    background-color: var(--color-secondar);
}
.sobremi .fila .col .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--color-tertiary);
    display: block;
    margin: 25px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--color-tertiary);
    position: relative;
    z-index: 10;
    transition: .3s;
}
.sobremi button .overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 0;    
    height:100% ;
    background-color: var(--color-secondar);
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}
.sobremi .cv{
    text-decoration: none;
}
/*  SECCION S K I L L S */
.skills{
    background-color: var(--color-primary-two);
    color: var(--color-tertiary);
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family:'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;    
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: var(--color-primary);
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: var(--color-secondar);
    position: absolute;
    top:0;
    left:0;
    height: 8px;    
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--color-secondar);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top:-17px;
    right: -15px;
    font-size: 14px;
}

/* Estas clases se agregaran mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%}
    100%{width: 75%}    
}
.skills .skill .java{
    width: 0%;
    animation: 2s java forwards;
}

@keyframes java {
    0%{width: 0%}
    100%{width: 65%}    
}
.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss{
    0%{width: 0%}
    100%{width: 76%}    
}
.skills .skill .gitGithub{
    width: 0%;
    animation: 2s gitGithub forwards;
}
@keyframes gitGithub{
    0%{width: 0%}
    100%{width: 62%}    
}
.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion{
    0%{width: 0%}
    100%{width: 87%}    
}
.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo{
    0%{width: 0%}
    100%{width: 92%}    
}
.skills .skill .metodologias{
    width: 0%;
    animation: 2s metodologias forwards;
}
@keyframes metodologias{
    0%{width: 0%}
    100%{width: 80%}    
}
.skills .skill .resolucion{
    width: 0%;
    animation: 2s resolucion forwards;
}
@keyframes resolucion{
    0%{width: 0%}
    100%{width: 83%}    
}
/* SECCION P O R T A F O L I O */
.portafolio{
    background-color: var(--color-primary-two);
    color: var(--color-tertiary);
    padding: 50px 20px;
}
.portafolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portafolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portafolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portafolio .galeria .proyecto img{
    width: 100%;
    height: 250px;
    display: block;
}
.portafolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(39, 138, 138,.8)), rgba(39, 138, 138,.8);
    display: flex;    
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    opacity: 0; 
}
.portafolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portafolio .galeria .proyecto .overlay:hover{
    opacity: 0.93;
}
.portafolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 4px;
}
/* SECCION C O N T A C T O */
.contacto{
    background-image: url(assets/contact_world.png);
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width:1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;  
}
.contacto .fila{
    display: flex;    
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom:20px;
    background-color: var(--color-primary-two);
    color: var(--color-tertiary);
    font-size: 18px;
    resize: none;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--color-tertiary);
    display: block;
    margin: 25px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--color-tertiary);
    position: relative;
    z-index: 10;
    transition: .3s;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-secondar);
    transition: 1s;
    z-index: -1;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto button i{
    margin-left: 5px;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top:80%;
    background-color: var(--color-primary-two);
    padding: 20px;
    max-width: 350px;
    left: 59%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
}
.contacto .col .info ul{
    list-style: none;  
    width: 300px;  
}
.contacto .col .info ul li{
    margin-bottom: 20px;    
}
.contacto .col .info ul li i{
    color: var(--color-secondar);
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: var(--color-primary-two);
    color: var(--color-tertiary);
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes{
    margin-bottom: 20px;   

}
footer .redes a{
    color: var(--color-tertiary);    
    display: inline-block;    
    border: 1px solid var(--color-tertiary);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;      
    text-decoration: none;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s; 
}

footer .redes a:hover{
    background-color: var(--color-secondar);
    transition: .6s;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--color-secondar);
    color: var(--color-tertiary);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:-25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top:75px;
        background-color: var(--color-primary-two);
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid var(--color-tertiary);
        padding: 10px 0;

    }
}

@media screen and (max-width:700px) {
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }
    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }
    
    .portafolio .galeria{
        display: block;
        
    }
    .portafolio .galeria .proyecto{
        max-width: 60%;
        margin: auto;
    }
    .portafolio .galeria .proyecto img{
        width: 100%;   
        margin-top: 10px;     
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;

    }
}














   







